<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 引入资源属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>

	<util:properties id="wxProperties" location="classpath:/wx.properties" />

	<!-- 自动扫描 (注入service)-->
	<context:component-scan base-package="com.cms" />

	<!-- 引用其他配置 -->
	<import resource="classpath:spring-mybatis.xml"/>
	<import resource="classpath:spring-shiro.xml"/>
	<import resource="classpath:spring-quartz.xml"/>

	<!-- 微信管理注入 -->
	<bean id="springUtils" class="com.cms.utils.SpringUtils"></bean>
</beans>
