<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.dao.video.VideoIssuerDao">

    <!-- 视频发布者管理 -->
    <select id="issuerList" parameterType="java.util.Map" resultType="java.util.Map">
        select * from t_video_issuer where 1=1
        <if test="name!= ''">
            and `name` like CONCAT('%',#{name},'%')
        </if>
    </select>

    <!-- 所有发布者 -->
    <select id="issList" parameterType="java.util.Map" resultType="java.util.Map">
        select * from t_video_issuer where state = 1
    </select>

    <!-- 新增发布者 -->
    <insert id="setIssuer" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into t_video_issuer (`name`,cover) values (#{name},#{cover})
    </insert>

    <!-- 发布者信息 -->
    <select id="issuerInfo" parameterType="java.lang.Integer" resultType="java.util.Map">
        select * from t_video_issuer where id = #{id}
    </select>

    <!-- 信息修改 -->
    <update id="updateIssuer" parameterType="java.util.Map">
        update t_video_issuer set `name` = #{name},cover = #{cover} where id = #{id}
    </update>

    <!-- 删除发布者 -->
    <update id="deleteIssuer" parameterType="java.util.Map">
        update t_video_issuer set state = #{state} where id = #{id}
    </update>

    <!-- 视频数量/人气 -->
    <select id="videoHot" parameterType="java.lang.Integer" resultType="java.util.Map">
        select count(0) num,convert(SUM(hot)/10000,decimal(10,1)) as ihot from t_video where `issuer` = #{issuer}
    </select>

</mapper>